<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Bootstrap Demo</title>
	<%= stylesheet_link_tag    'application' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body class="jr-dark-body ">
	
	<nav class="navbar navbar-inverse navbar-fixed-top blacknav" role="navigation">
		<div class='container'>
			<div class="navbar-left">
				
				<%= link_to 'http://www.jeffruss.com', class: "navbar-btn navbar-brand" do %>
					<button class="btn greenwell">
						<img style="max-width:50px;"
							src="http://i1377.photobucket.com/albums/ah75/Jeffrey_Russ/JR_20px_wide_zpsy9os6cdz.png">
					</button>
				<% end %>
				
			</div>
			
			<div class="navbar-right">
				
				<button class='dropdown btn navbar-btn navbar-rbtn dropdown-toggle' type='button' data-toggle='dropdown'>
					<%= yield(:topic) %>
				</button>
				<ul class='dropdown-menu' role='menu'>
					<li role='presentation'><a href='#' role='menuitem' tabindex='-1'>link1</a></li>
					<li role='presentation' class='dropdown-header'>Header</li>
					<li role='presentation' class='disabled'></li>
					<li role='presentation' class='divider'></li>
					<li role='presentation'><a href='#' role='menuitem' tabindex='-1'>link1</a></li>
				</ul>	
				
				<button type='button' data-toggle='modal' 
						class="btn navbar-btn navbar-rbtn" data-target='#modal-menu'>
					<%= yield(:page) %>
				</button>
				
				<%= yield(:toc) %>
				
			</div>
		</div>
	</nav>
	<div class="container nav-spacer">
		
		<div class="modal custom" id="modal-menu" tabindex='-1' role='dialog'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header jr-dark-body">
						<button type="button" class="close jr-dark-body" data-dismiss='modal'>
							&times;
						</button><br>
					</div>
					<div class="modal-body">
						<div class="jr-dark-body">
							<div class="row text-center">
								<h3>Pick a component</h3>
							</div>
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Index", bootstrap_home_path, 
										class: 'btn btn-large btn-block btn-success btn-ghost'%>
								</div>								
								<div class="col-xs-4">
									<%= link_to "Grids etc.", bootstrap_grids_path,
										class: 'btn btn-large btn-block btn-warning btn-ghost'%>
								</div>
								<div class="col-xs-4">
									<%= link_to "Buttons", bootstrap_buttons_path, 
										class: 'btn btn-large btn-block btn-danger btn-ghost'%>
								</div>
							</div>    
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Glyphicons", bootstrap_glyphs_path, 
										class: 'btn btn-large btn-block btn-info btn-ghost'%>
								</div>								
								<div class="col-xs-4">
									<%= link_to "Forms", bootstrap_forms_path, 
										class: 'btn btn-large btn-block btn-success btn-ghost'%>
								</div>
								<div class="col-xs-4">
									<%= link_to "Dropdowns", bootstrap_dropdowns_path, 
										class: 'btn btn-large btn-block btn-warning btn-ghost'%>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Tabs", bootstrap_tabs_path, 
										class: 'btn btn-large btn-block btn-success btn-ghost'%>
								</div>
								<div class="col-xs-4">
									<%= link_to "Navbars", bootstrap_navbars_path, 
										class: 'btn btn-large btn-block btn-danger btn-ghost'%>
								</div>	
								<div class="col-xs-4">
									<%= link_to "Lists", bootstrap_list_groups_path, 
										class: 'btn btn-large btn-block btn-info btn-ghost'%>
								</div>
							</div>
							<div class="row spacer">
								<div class="col-xs-4">
									<%= link_to "Panels", bootstrap_panels_path, 
										class: 'btn btn-large btn-block btn-danger btn-ghost'%>
								</div>								
								<div class="col-xs-4">
									<%= link_to "Carousels", bootstrap_images_path, 
										class: 'btn btn-large btn-block btn-warning btn-ghost'%>
								</div>
								<div class="col-xs-4">
									<%= link_to "Modals", bootstrap_modals_path, 
										class: 'btn btn-large btn-block btn-success btn-ghost'%>
								</div>
							</div>
						</div><br>
						<div class="modal-footer"></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="well text-center">
			<h1 class="link"><%= yield(:page) %></h1>
		</div>
		
		<%= yield %>
		
		<div class="row">
			<div class="span12">
				<br><br><hr><small>    © Copyright 2015 Jeffrey Russ.</small><br><br><br>
			</div>
		</div>
	</div>
</body>
</html>
