
		
		<!-- modal 3 - TOC to select a position in page -->
		<div class="modal bottom-right" id="modal-toc" tabindex='-1' role='dialog'>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" >
						<div class="jr-dark-body">
						<button type="button" class="close jr-dark-body " data-dismiss='modal' id='dismiss'>
							&times;
						</button><br>
							<div class="row">
								<h4>
									<%= yield(:topic) %> - 
									<%= yield(:page) %>
								</h4>
							</div>
							<div class="toc">
								<%= @toc %>
							</div>
							</div><br>
						</div>
						
					</div>
				</div>
			</div>
		
		<!-- END CONTENTS OF THREE MODAL WINDOWS -->
		
		<!-- BEGIN PAGE CONTENTS -->
		<div class="well text-center"> <!-- page title banner -->
			<h1><%= yield(:topic) %> - <%= yield(:page) %></h1>
		</div>
		
		<div class="row">
			<div class="col-xs-11 col-xs-12">
				<div class="markdown">
		      		<%= @html %> 
		      	</div>
		   </div>   
		</div>   
		
		<div class="row"> <!-- page footer -->
			<div class="span12">
				<br><br><hr><small>    © Copyright 2015 Jeffrey Russ.</small><br><br><br>
			</div>
		</div>
		
	</div> <!-- END container -->
</body>
</html>
