
<div class="jr-dark-body">
	<div class="row text-center">
		<h3>Pick a Sub-Topic</h3>
	</div>
	<div class="row spacer">
		
		<div class="col-xs-4">
			<%= link_to "Home", rails_setup_path, 
				class: 'btn btn-large btn-block btn-info btn-ghost'%>
		</div>	
		<div class="col-xs-4">
			<%= link_to "Setup", rails_setup_path, 
				class: 'btn btn-large btn-block btn-success btn-ghost'%>
		</div>	
		<div class="col-xs-4">
			<%= link_to "Deploy", rails_deploy_path,
				class: 'btn btn-large btn-block btn-warning btn-ghost'%>
		</div>
		<div class="col-xs-4">
			<%= link_to "Basics", rails_basics_path,
				class: 'btn btn-large btn-block btn-warning btn-ghost'%>
		</div>
		<div class="col-xs-4">
			<%= link_to "Sendgrid", rails_sendgrid_path, 
				class: 'btn btn-large btn-block btn-danger btn-ghost'%>
		</div>
		<div class="col-xs-4">
			<%= link_to "bcrypt", rails_bcrypt_path, 
				class: 'btn btn-large btn-block btn-info btn-ghost'%>
		</div>	
		<div class="col-xs-4">
			<%= link_to "Devise", rails_devise_path, 
				class: 'btn btn-large btn-block btn-success btn-ghost'%>
		</div>
		<div class="col-xs-4">
			<%= link_to "Stripe", rails_stripe_path, 
				class: 'btn btn-large btn-block btn-warning btn-ghost'%>
		</div>
		<div class="col-xs-4">
			<%= link_to "Paperclip", rails_paperclip_path, 
				class: 'btn btn-large btn-block btn-success btn-ghost'%>
		</div>
		<div class="col-xs-4">
			<%= link_to "Amazon AWS", rails_amazonaws_path, 
				class: 'btn btn-large btn-block btn-danger btn-ghost'%>
		</div>	
		<div class="col-xs-4">
			<%= link_to "Amazon AWS", rails_amazonaws_path, 
				class: 'btn btn-large btn-block btn-info btn-ghost'%>
		</div>	
		
	</div>
</div><br>
