<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>
		<%= yield(:topic) %>- 
		<%= yield(:page) %>
	</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>

<body class="jr-dark-body ">
	
	<!-- BEGIN NAVBAR (non-collapsing)-->
	<nav class="navbar navbar-inverse navbar-fixed-top blacknav" role="navigation">
		<div class='container'>
			
			<div class="navbar-left">
				
				<%= link_to 'http://www.jeffruss.com', class: "navbar-btn navbar-brand" do %>
					<button class="btn greenwell">
						<img style="max-width:50px;"
							src="http://i1377.photobucket.com/albums/ah75/Jeffrey_Russ/JR_20px_wide_zpsy9os6cdz.png">
					</button>
				<% end %>
				
			</div>
			
			<div class="navbar-right"> 
				
				<!-- navbar buttons for three modal windows -->
				
				<!-- modal 1 - select a topic (group of pages - controller )-->
				<button type='button' data-toggle='modal' 
						class='btn navbar-btn nav-button' data-target='#modal-topic-menu'>
					<%= yield(:topic) %>
				</button>
				
				<!-- modal 2 - select a sub-topic (particular page)-->
				<button type='button' data-toggle='modal' 
						class="btn navbar-btn nav-button" data-target='#modal-page-menu'>
					<%= yield(:page) %>
				</button>
				
				<!-- modal 3 - TOC to select a position in page -->
				<button type='button' data-toggle='modal' 
						class="btn navbar-btn nav-button" data-target='#modal-toc'>
					<span class='caret'></span>
				</button>
				
			</div>
		</div>
	</nav> <!--END NAVBAR-->
	
	<div class="container nav-spacer">  <!--nav-space prevents obscuring under navbar-->
		
		<!-- CONTENTS OF THREE MODAL WINDOWS -->
		
		<!-- modal 1 - select a topic -->
		<%= render :file => 'layouts/modal_topic_menu' %>
